

<h1>Books</h1>

<ul>
  <% @books.each do |book| %>
    <li>Title: <%=link_to book.title, book%></li>
    <li>Author: <%= book.author %></li>
    <li>Note: <%= book.note %></li>
    <li>Description: <%= book.description %></li>
  <% end %>

  <br>

 <%= link_to "New Book", new_book_path, class: "new-book-button" %> 
 