<h1><%= @book.title %></h1>

<p><%= @book.author %></p>

<p><%= @book.note %></p>

<p><%= @book.description %></p>

<%= link_to "Editar", edit_book_path(@book), class: "edit-link" %>

<%= link_to "Voltar aos Livros", root_path, class: "back-link" %>

<%= link_to "Deletar" , destroy_book_path%>